@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        font-family: garamond;
        scroll-behavior: smooth;
    }
    body {
        color: #010101;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
