@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html,
    body {
        width: 100%;
        height: 100vh;
        color: #010101;
        background-color: #ffffff;
        scroll-behavior: smooth;
    }
    ::-moz-selection {
        color: white;
        background: #2d2d2d;
    }

    ::selection {
        color: white;
        background: #2d2d2d;
    }
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    body::-webkit-scrollbar {
        width: 10px;
    }
    body::-webkit-scrollbar-track {
        background: #f1f1f3;
    }
    body::-webkit-scrollbar-thumb {
        background-color: #2d2d2d;
        border-radius: 20px;
    }
    .nav:after {
        content: '';
        position: absolute;
        bottom: -5px;
        background: currentColor;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        left: calc(50% - 8px);
    }
    .section-scrollbar::-webkit-scrollbar {
        width: 6px;
    }
    .div-scrollbar::-webkit-scrollbar {
        height: 3px;
    }
    .div-scrollbar::-webkit-scrollbar-track {
        background: #f1f1f3;
        border-radius: 20px;
    }
    .section-scrollbar::-webkit-scrollbar-track {
        background: #f1f1f3;
        border-radius: 20px;
    }
    .div-scrollbar::-webkit-scrollbar-thumb {
        background-color: #2d2d2d;
    }
    .section-scrollbar::-webkit-scrollbar-thumb {
        background-color: #2d2d2d;
        border-radius: 20px;
    }
    .StripeElement {
        height: 45px;
        padding: 12px 12px;
        width: 100%;
        color: #32325d;
        border: 1px solid transparent;
        border-radius: 15px;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
    table th svg {
        display: inline;
    }
    .effect::after {
        content: '';
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            135deg,
            hsla(0, 100%, 76%, 1) 0%,
            hsla(237, 100%, 73%, 1) 100%
        );
        z-index: -1;
    }
}
