@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html,
    body {
        width: 100%;
        height: 100vh;
        color: #010101;
        background-color: #ffffff;
        cursor: url('./cursor.png'), auto;
        scroll-behavior: smooth;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    body::-webkit-scrollbar {
        width: 12px;
    }
    body::-webkit-scrollbar-track {
        background: #f1f1f3;
    }
    body::-webkit-scrollbar-thumb {
        background-color: #2d2d2d;
        border-radius: 20px;
    }
    .section-scrollbar::-webkit-scrollbar {
        width: 6px;
    }
    .div-scrollbar::-webkit-scrollbar {
        height: 3px;
    }
    .div-scrollbar::-webkit-scrollbar-track {
        background: #f1f1f3;
    }
    .section-scrollbar::-webkit-scrollbar-track {
        background: #f1f1f3;
    }
    .div-scrollbar::-webkit-scrollbar-thumb {
        background-color: #2d2d2d;
    }
    .section-scrollbar::-webkit-scrollbar-thumb {
        background-color: #2d2d2d;
        border-radius: 20px;
    }
    .StripeElement {
        height: 45px;
        padding: 12px 12px;
        width: 100%;
        color: #32325d;
        background-color: ;
        border: 1px solid transparent;
        border-radius: 15px;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
}
